@model IEnumerable<SourceControlFinalAssignment.Models.userregistration>

@{
    ViewBag.Title = "Index";
}

<h2>User Details</h2>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<style>
    fieldset {
        background-color: #eeeeee;
        margin-top: 30px;
    }

    th {
        background-color: gray;
        color: white;
        padding: 5px 10px;
    }
</style>

<fieldset>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emailid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>@Html.DisplayName("Actions")</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Emailid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Designation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id },new { @class="btn btn-default"}) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
    <script type="text/javascript" language="javascript">
       $("#form").validate({
     rules: {
                Name:"required",
                
              },
            messages: {
                Name:"Name is required"
            },
     }
     );
        function validate() {
    
    var Phonenumber = $("#Phone").val();
        var filter = /^[0-9-+]+$/;
        if (!(filter.test(Phonenumber)))
       {
           $("#div2").text("Please enter valid Phone Number");
        }
}
    </script>

</fieldset>